.glass-button {
    text-decoration: none;
    width: var(--input-width);
    height: 40px;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: 800;
    background: var(--header);
    box-shadow: 1px_1px_10px_var(--back);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: black;
    margin: 10px;
}

.glass-button:hover {
    box-shadow: 2px 2px 20px var(--text);
}

.glass-button:before {
    content: "";
    background-color: white;
    top: 0;
    left: 0;
    width: 200%;
    height: 30px;
    position: absolute;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s;
}

.glass-button:hover:before {
    transform: translateX(100%) rotate(45deg);
}